.order-details {
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
        color: #333;
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 15px;
        color: #666;
    }

    p {
        font-size: 1rem;
        color: #555;
        margin: 10px 0;
        line-height: 1.5;
    }

    span {
        font-weight: bold;
    }

    .order-summary {
        margin-top: 20px;

        .summary-item {
            padding: .6rem;
            border-bottom: 1px solid #e0e0e0;

            &:last-child {
                border-bottom: none;
            }

            h4 {
                font-size: 1.2rem;
                color: #444;
                margin-bottom: 5px;
            }

            .product-details {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
                flex-wrap: wrap;

                p {
                    font-size: 1rem;
                    color: #333;
                }
            }
        }
    }

    .total-price-text {
        margin-top: 30px;
        margin-bottom: 0;
        padding-top: 10px;
        font-size: 1.5rem;
        color: $error;
        display: flex;
        justify-content: center;
        border-top: 2px solid #e0e0e0;
    }

    .total-price {
        font-size: 1.5rem;
        color: $error;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .shipping-info {
        background-color: #f1f1f1;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 0.95rem;

        p {
            margin: 5px 0;
        }
    }

    .customer-info,
    .shipping-info {
        background-color: #ffffff;
        padding: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .product-details-wrapper {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

        h4 {
            margin-bottom: 10px;
            color: #444;
        }
    }

    @media (max-width: 768px) {
        padding: 15px;

        h2 {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        .product-details-wrapper,
        .customer-info,
        .shipping-info {
            padding: 10px;
        }
    }
}

.error-text {
    color: $error;
}

.error-message {
    color: $error;
    text-align: center;
}

.order-update-btn {
    padding: .3rem .5rem;
    min-width: 2rem;
    justify-content: center;
    height: fit-content;
}