.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    .placholder-img {
        width: 60px;
        margin-left: .8rem;
        border-radius: 50%;
    }

    .login-submenu {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;

        display: flex;
        flex-direction: column;
        background: $bg-white;
        color: $bg-dark;
        border-radius: .25rem;
        border: 2px solid $bg-grey;
        box-shadow: 3px 3px 8px $bg-grey-1;
        z-index: 2;

        .header {
            background-color: $bg-grey;
            padding: .5rem;
            color: $bg-grey-1;
            padding-left: 1rem;
            letter-spacing: .1rem;
            font-weight: bold;
        }

        .link {
            padding: .5rem;
            display: flex;
            align-items: center;
            gap: .5rem;
           

            &:hover {
                color: $white;
                background-color: #888;
            }
        }
    }
}