.profile-card {
    padding: 3rem;
    max-width: 500px;
    width: 100%;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #b92038;
}

.profile-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-header-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.profile-header-info p {
    color: #666;
    margin: 2px 0;
}

.status.active {
    color: green;
}

.status.inactive {
    color: red;
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.profile-info strong {
    color: #b92038;
}

.profile-edit-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}






