.product-page-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;

    .search-alert {
        text-align: center;
        font-size: 1.2rem;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;

        .input-group {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            width: 100%;

            label {
                font-size: 16px;
                margin-bottom: 5px;
                color: #333;
            }

            input[type="text"]
             {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
            }
        
            select {
                padding: 10px;
                border: 1px solid #ccc;
                background-color: transparent;
                border-radius: 0;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
                cursor: pointer;
            }
        }

        .button-group {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            width: 100%;

            button {
                font-weight: bold;
            }
        }
    }

    .table-wrapper {
        overflow-x: auto; // Csak a táblázat görgethető
      
    }

    .product-table {
        width: 100%;
        min-width: 600px; // Táblázat minimális szélessége, hogy ne zsugorodjon túl kicsire
        border-collapse: collapse;
        margin-bottom: 20px;

        th,
        td {
            font-size: 14px;
            padding: 8px;
            border: 1px solid $table-border;
            text-align: left;
            white-space: nowrap; // Megakadályozza, hogy a cellák tartalma több sorba törjön
        }

        img {
            max-width: 40px;
            height: auto;
        }

        tr:hover {
            background-color: rgba($main-color, .5);

        }
    }

    .icon-button {
        padding: .5rem .7rem;
        background-color: $main-color;
        color: $white;
        border: none;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-right: .7rem;
        cursor: pointer;

        &:hover {
            background-color: $main-color;
        }

        &.delete-button {
            background-color: #e74c3c;

            &:hover {
                background-color: #c0392b;
            }
        }
    }

    .pagination {
        display: flex;
        flex-wrap: wrap; // Rugalmas elrendezés, ha szükséges több sor
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 10px 0;

        li {
            margin: 2px;



            &.active {
                background-color: $main-color;
                border-radius: 4px;
            }

            &.active a {
                color: $white;
            }

            a {
                padding: 6px 10px;
                font-size: 14px;
                border: 1px solid $main-color;
                color: $main-color;
                text-decoration: none;
                border-radius: 4px;
                display: block;
                text-align: center;
                cursor: pointer;


            }
        }

    }
}



@media (min-width: 768px) {
    .product-page-container {
        .filter-container {
            flex-direction: row;
            gap: 20px;

            .input-group {
                flex: 1;

                input[type="text"],
                select {
                    width: auto;
                }

                button {
                    width: auto;
                }
            }

            .button-group {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                gap: .5rem;
                height: 100%;
                width: 100px;

                .btn {
                    width: 100px;
                  display: block;
                }
            }
        }
    }
}