$main-color: #b92038;
$white: #fff;
$orange: #EB5900;
$bg-white: #eee;
$bg-light-grey: #dfdfdf;
$bg-grey-1: #bbb;
$bg-grey: #333;
$box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
$bg-dark: #212631;
$body-bg: #f4f4f9;
// table color
$table-border: #ddd;
$table-head: #f4f4f4;
$table-row-even: #f9f9f9;

$error: $main-color;
$succsess : green;

